*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #000002;
}

.fs-30{
    font-size: 30px;
}
.fs-50{
    font-size: 50px;
}
html{
   scroll-behavior: smooth;
}
p{
    color: #f3f2ec;
}
/* footer */

footer{
   background-color: #000000;
   color: #000000;
   font-weight: bold;
   text-decoration-line: none;
   text-align: center;
}

.footer-link-item{
    color: #f1420d;
    font-weight: bold;
    text-decoration-line: none;
}
.footer-link-item:hover{
    color: rgb(0, 0, 0);
    font-weight: normal;
}
.icon-link{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
}
.icon-link:hover{
    color: rgb(12, 12, 11);
    font-weight: normal;
}
.gotoupbtn{
   position: fixed;
   width: 50px;
   height: 50px;
   background: #351002;
   bottom: 40px;
   right: 50px;
   border-radius: 2px;
   text-align: center;
   line-height: 50px;
   color: #056066;
   font-size: 30px;
   text-decoration: none;
   cursor: pointer;
   transition: 0.5s;
   z-index: 1;
}
.gotoupbtn:hover{
   font-size: 25px;
   background: rgb(5, 1, 14);
   color: rgb(248, 10, 10);
   width: 48px;
   height: 48px;
   border-radius: 50%;
}

.custom-btn:hover{
    background-color: rgb(15, 163, 27);
    font-weight: normal;
    color: white;
}
/* Home page */
.circle-img{
    border-radius: 50%;
}
.icon-style{
    color: rgb(219, 21, 21);
    font-size: 30px;
}
/*.shadow-bg{
    background: rgb(228,228,228);
    background: radial-gradient(circle, rgba(228,228,228,1) 17%, rgba(208,205,253,1) 18%, rgba(220,213,255,1) 30%, rgba(228,227,229,1) 37%, rgba(206,203,255,1) 55%);
}*/
.height-5{
    height: 250px;
}

/* menu */

/* card */

  .card-menu:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
  }
 
  
.card-menu{
    background-color: #0707077a;
}
.breadcrumb{
    background-color: #0c090460;
}
.background-image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) for the darkness level */
    z-index: 999;
  }
  .card-menu  img{
	width: 600px;
	max-width: 100%;
	box-shadow: 0 5px 15px 0px rgba(5, 226, 71, 0.5);
}

/*about*/
#bg{
	background-attachment: fixed;
	background-position: center;
}
.about{
	width: 100;
	height: 100;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}
.about .content img{
	width: 600px;
	max-width: 100%;
	box-shadow: 0 5px 15px 0px rgba(226, 138, 5, 0.5);
}

.about .content img:hover{
	width: 630px;
	max-width: 130%;
}
.text{
	width: 550px;
	max-width: 100%;
}

.content{
	width: 1280px;
	max-width: 95%;
	align-items: center;
	justify-content: space-around;
}
.text h1 {
	color: #f76e13;
	font-size: 50px;
	margin-bottom: 40px;
	margin-top: 40px;
}
 .text p{
	font-size: 18px;
	margin-bottom: 70px;
    color: #f3f2ec;
}

/* contact us */
h2{
    color: #0c6611;
    font-size: xx-large;
}
h3{
    color: #0c6611;
}
h4{
    color: #0c6611;
}
/* Preloader Styles 
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f8c475;
    z-index: 10;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: opacity 500s;
}

.preload > * { transition: var(--transition-1); }

.preload.loaded > * { opacity: 0; }

.preload.loaded {
  transition-delay: 250s;
  transform: translateY(100%);
}
.circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 150s linear infinite;
  }
#loader {
    border: 4px solid #382b2b;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2000s linear infinite;
}
.loaded #preloader {
    opacity: 0;
    visibility: hidden;
  }


@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
.preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 220s infinite;
  }


@keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }*/

  /*scrollbar*/
  /* Customize the scrollbar */
/* For webkit-based browsers like Chrome and Safari */

/* Width and height of the scrollbar thumb */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background:transparent; /* Change the background color */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #eb6003; /* Change the color of the thumb */
    border-radius: 6px; /* Add rounded corners */
}

/* On hover, the thumb will have a different color */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form{
    box-shadow: 0 5px 15px 0px rgba(5, 226, 71, 0.5);
}

    .reviews .content img:hover{
        width: 630px;
        max-width: 130%;
    }
    .reviews{
        box-shadow: 0 5px 15px 0px rgba(5, 226, 71, 0.5);
    }
    .index{
        box-shadow: 0 5px 15px 0px rgba(5, 226, 71, 0.5);
    }

    /*-----------------------------------*\
  #MENU
\*-----------------------------------*/

.menu .section-title { margin-block-end: 40px; }

.menu .grid-list { margin-block-end: 50px; }

.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hover\:card .card-banner { background-color: var(--gold-crayola); }

.hover\:card .card-banner .img-cover { transition: var(--transition-2); }

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover {
  opacity: 0.7;
  transform: scale(1.05);
}

.menu-card .card-banner {
  flex-shrink: 0;
  border-radius: var(--radius-24);
}

.menu-card .card-title { transition: var(--transition-1); }

.menu-card .card-title:is(:hover, :focus-visible) { color: var(--gold-crayola); }

.menu-card .badge {
  background-color: var(--gold-crayola);
  color: var(--eerie-black-1);
  font-family: var(--fontFamily-forum);
  max-width: max-content;
  line-height: var(--lineHeight-6);
  text-transform: uppercase;
  padding-inline: 10px;
  margin-block-start: 10px;
}

.menu-card .span {
  color: var(--gold-crayola);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-4);
}

.menu-text .span {
  display: inline-block;
  color: var(--gold-crayola);
}

.menu .btn {
  margin-inline: auto;
  margin-block-start: 26px;
}

.menu .shape {
  display: block;
  width: 70%;
}

.menu .shape-2 {
  top: 0;
  left: 0;
}

.menu .shape-3 {
  bottom: 0;
  right: 0;
}
.we{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}